html {
    background: linear-gradient(#472165, #c761e0);
    background-size: cover;
}

body {
    height: 100%;
}

#logo {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:-4em;
    margin-top:4em;
}

main {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align:center;
    color:#ffffff;
}

#title {
    font-size:140px;
    font-weight: 100;
}

#tagline {
    font-size: 24px;
    font-weight: 100;
    margin-top:-1em;
}

h2 {
    font-weight: 100;
    font-size:48px;
    text-align:center;
}

section {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color:#ffffff;
}

.person {
    margin-bottom: 1em;
    background-color: #0004;
    border-radius:1em;
    padding:2em 2em 4em 2em;
    margin-left:1em;
    margin-right:1em;
}

.project {
    margin-bottom: 1em;
    background-color: #0004;
    border-radius:1em;
    padding:2em 2em 4em 2em;
    margin-left:1em;
    margin-right:1em;
}

.head {
    width: 128px;
    height: auto;
    border-radius: 1em;
}

.person-info {
    margin-left: 10em;
}

.name {
    font-size:2em;
    border-bottom: 1px solid;
}

.desc {
    display:block;
    font-size:18px;
    margin-top: 0.5em;
}

.person .links {
    margin-top: 4em;
    margin-bottom: -2em;
    margin-left: 10em;
}

.project .links {
    margin-top: 4em;
    margin-bottom: -2em;
}

.links a {
    color: skyblue;
}

.full {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
}

.half {
    min-height: 0;
}

.coming-soon {
    margin-bottom: 1em;
    background-color: #0004;
    border-radius:0.5em;
    padding:1em 2em 1em 2em;
    margin-left:0.5em;
    margin-right:0.5em;
    text-align: center;
    font-size: 2em;
}